<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/set.css">
    <link rel="stylesheet" href="/static/std.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/dashboard" class="nav-item nav-text">
            <h3>Dashboard</h3>
        </a>
        <a href="/sets" class="nav-item nav-text selected">
            <h3>Your Sets</h3>
        </a>
        <a href="/classes" class="nav-item nav-text">
            <h3>Classes</h3>
        </a>
        <div class="nav-separator"></div>
        <div class="nav-item nav-create">
            <p>Create</p>
            <img src="/images/add.svg" alt="new">
            <div class="create-dropdown">
                <a href="/sets/new" class="create-dropdown-elem">Set</a>
                <div href="/classes/new" class="create-dropdown-elem"
                    onclick="document.getElementById('background-darkener').style.display='inherit'">Class</div>
            </div>
        </div>
        <img class="nav-item " src="/images/account.svg" alt="">
    </nav>
    <main>
        <h1 class="set-name">
            <%= setInfo.name %>
        </h1>
        <div class="practice-options">
            <a href="/set/<%=setInfo.id%>/learn" class="practice-option">
                <h3>Learn</h3>
                <img src="/images/practice-icons/learn.svg">
            </a>
            <div class="practice-option">
                <h3>Quiz</h3>
                <img src="/images/practice-icons/quiz.svg">
            </div>
            <div class="practice-option">
                <h3>Test</h3>
                <img src="/images/practice-icons/quiz.svg">
            </div>
        </div>
        <div class="set-preview" id="setPreview">
            <div class="set-preview-top">
                <button onclick="previousWord()">
                    <img src="/images/more.svg" class="flipped-img" alt="back">
                </button>
                <div class="set-preview-top-center">
                    <p id="selectedWord">1</p>
                    <p>&nbsp;/&nbsp;</p>
                    <p>
                        <%= setInfo.words.length%>
                    </p>
                </div>
                <button onclick="nextWord()">
                    <img src="/images/more.svg" alt="back">
                </button>
            </div>
            <h1 id="set-preview-word">
                <%= setInfo.words[0].word %>
            </h1>
        </div>
    </main>
    <div class="background-darkener" id="background-darkener" style="display: none;">
        <div class="class-create-section">
            <div class="class-create-top">
                <h1>Create a new class</h1>
                <img src="/images/close.svg" alt="close"
                    onclick="document.getElementById('background-darkener').style.display='none'">
            </div>
            <form action="/classes/new" method="POST">
                <label for="class-name">Class name:</label>
                <input name="name" autocomplete="off" type="text" id="class-name">
                <div class="class-language-container">
                    <label for="class-language">Language:</label>
                    <select name="language" id="class-language">
                        <option value="0">French</option>
                        <option value="1">German</option>
                        <option value="2">English</option>
                        <option value="3">Spanish</option>
                        <option value="4">Chinese</option>
                        <option value="5">Other</option>
                        <option value="6">Non specific</option>
                    </select>
                </div>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</body>
<script>
    const words = JSON.parse(`<%- JSON.stringify(setInfo.words) %>`)
    let selectedWord = 0;
    function nextWord() {
        if (selectedWord == words.length - 1) return
        selectedWord++;
        document.getElementById("set-preview-word").innerHTML = words[selectedWord].word;
        document.getElementById("selectedWord").innerHTML = selectedWord + 1;
        showWord = true;
    }

    function previousWord() {
        if (selectedWord == 0) return
        selectedWord--;
        document.getElementById("set-preview-word").innerHTML = words[selectedWord].word;
        document.getElementById("selectedWord").innerHTML = selectedWord + 1;
        showWord = true;
    }
    const setPreview = document.getElementById("setPreview")
    let showWord = true;
    setPreview.addEventListener("click", e => {
        if (e.target.tagName !== "BUTTON" && e.target.tagName !== "IMG") {
            showWord = !showWord
            setPreview.style.transition = "all ease-in .2s"
            setPreview.style.transform = "rotate3d(0,1,0,90deg)"
            setTimeout(() => {
                if (showWord) {
                    document.getElementById("set-preview-word").innerHTML = words[selectedWord].word
                } else {
                    document.getElementById("set-preview-word").innerHTML = words[selectedWord].translation
                }
                setPreview.style.transition = "all ease-out .2s"
                setPreview.style.transform = "rotate3d(0,0,0,0deg)"
            }, 200)
        }
    })
</script>

</html>