<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class</title>
    <link rel="stylesheet" href="/static/std.css">
    <link rel="stylesheet" href="/static/class.css">
    <script src="/static/class.js" defer></script>
    <script src="/static/std.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="nav-item nav-text selected" onclick="openSection(0)">
            <h3>Overview</h3>
        </div>
        <div class="nav-item nav-text" onclick="openSection(1)">
            <h3>Sets</h3>
        </div>
        <div class="nav-item nav-text" onclick="openSection(2)">
            <h3>Members</h3>
        </div>
        <% if(classInfo.members.find(e=> e.id == userData.id).role>0) {%>
            <div class="nav-item nav-text" onclick="openSection(3)">
                <h3>Settings</h3>
            </div>
            <%}%>
                <div class="nav-separator"></div>
                <div class="nav-item nav-create">
                    <p>Create</p>
                    <img src="/images/add.svg" alt="" />
                    <div class="create-dropdown">
                        <a href="/sets/new" class="create-dropdown-elem">Set</a>
                        <div href="/classes/new" class="create-dropdown-elem"
                            onclick="document.getElementById('background-darkener').style.display='inherit'">
                            Class
                        </div>
                    </div>
                </div>
                <img class="nav-item" src="/images/account.svg" alt="" />
    </nav>
    <div class="main">
        <div class="class-name">
            <h1>
                <%= classInfo.name%>
            </h1>

            <% if(parseInt(classInfo.language)+1 !=languages.length){ %>
                <p>
                    <%= languages[classInfo.language]%>
                </p>
                <%}%>

        </div>
        <div class="section">
            <div class="overview-updates">
                <div class="updates-section-top-container">
                    <div class="updates-section-top">
                        <h3>Updates</h3>
                        <% if(classInfo.members.find(e=> e.id == userData.id).role>0) { %>
                            <img src="/images/add.svg" alt="add"
                                onclick="document.getElementById('new-update').style.display='unset'">
                            <%}%>
                    </div>
                    <div class="updates-line"></div>
                </div>
                <% for(let i=0;i < classInfo.updates.length;i++){ %>
                    <a class="update-container"
                        href="classes/<%= classInfo.id %>/update/<%= classInfo.updates[i].id %>">
                        <div class="update-icon-container">

                            <% if(classInfo.updates[i].type=='homework' ) {%>
                                <img src="/images/update-icons/assignment.svg">
                                <%}else if(classInfo.updates[i].type=='material' ){ %>
                                    <img src="/images/update-icons/book.svg" class="flipped-img">
                                    <%}else{%>
                                        <img src="/images/update-icons/message.svg">
                                        <%}%>
                        </div>
                        <div class="update-name-container">
                            <h3>
                                <%= classInfo.updates[i].name %>
                            </h3>
                            <p>
                                <%= timeConverter(classInfo.updates[i].creationDate) %>
                            </p>
                        </div>
                        <div></div>
                        <img src="/images/more.svg" alt="open">
                    </a>
                    <% } %>
            </div>
        </div>
        <div class="section" style="display: none;">

        </div>
        <div class="section" style="display: none;">
            <h2>Members:</h2>
            <ul class="members-list">
                <% for(let i=0;i<classInfo.members.length;i++) {%>
                    <li class="member">
                        <img src="/images/account-white.svg" class="member-icon" onerror="this.style.display = 'none'">
                        <p>
                            <%= classInfo.members[i].name%>
                                <% if(userData.id==classInfo.members[i].id) {%>
                                    (You)
                                    <%}else if(classInfo.members[i].role>0) {%>
                                        (<%= roles[classInfo.members[i].role]%>)
                                            <%}%>
                        </p>
                        <div class="member-homework"></div>
                        <div class="edit-member">
                            <label for="edit-member-checkbox<%=i%>">
                                <img src="/images/edit.svg" alt="edit">
                            </label>
                            <input hidden type="checkbox" class="edit-member-checkbox" id="edit-member-checkbox<%=i%>">
                            <div class="edit-member-section">
                                <% if(classInfo.members.find(e=> e.id ==
                                    userData.id).role>0&&classInfo.members.find(e=>e.id == userData.id).role
                                    >=classInfo.members[i].role&&userData.id!=classInfo.members[i].id) {%>
                                    <p>Remove</p>
                                    <%}%>
                                        <a href="/profile/<%=classInfo.members[i].id%>">Profile</a>
                            </div>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>
        <div class="section" style="display: none;">
            <h2>Settings:</h2>
            <div class="settings-container">
                <div class="left-side">
                    <form action="/classes/update" method="POST">
                        <label>
                            Class name:
                            <input name="name" type="text" class="settings-class-name" autocomplete="off">
                        </label>
                        <div class="settings-class-language-container">
                            <label>Language:
                                <select name="language" class="settings-class-language">
                                    <option value="0">French</option>
                                    <option value="1">German</option>
                                    <option value="2">English</option>
                                    <option value="3">Spanish</option>
                                    <option value="4">Chinese</option>
                                    <option value="5">Other</option>
                                    <option value="6">Non specific</option>
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="right-side">
                    <label>
                        Invite link:
                        <div class="radio-container">
                            <label class="input-container">One
                                <input type="radio" name="radio" checked="checked">
                                <span class="checkmark"></span>
                            </label>

                            <label class="input-container">Two
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="side-section">
        <h2 style="margin-bottom: 0;">Homework</h2>
        <% for(let i=0;i<classInfo.updates.length;i++) {%>
            <% if(classInfo.updates[i].type=="homework" && !userData.data.sets.find(e=> e.setId ==
                classInfo.updates[i].materialId)) {%>
                <a href="./<%=classInfo.id%>/homework" class="side-section-item">
                    <div class="homework-item-left">
                        <h4 class="homework-title">
                            <%= classInfo.updates[i].name %>
                        </h4>
                        <div class="homework-data-section" style="margin-left: auto;">
                            <p>5d&nbsp;</p>
                            <img src="/images/clock.svg" onerror="this.style.display='none'" style="margin-top: -1px;">
                            <p>&nbsp;-&nbsp;</p>
                            <p>??w&nbsp;</p>
                            <img src="/images/checklist.svg" onerror="this.style.display = 'none'">
                        </div>
                    </div>
                    <img src="/images/more.svg" alt="more" class="homework-item-right">
                </a>
                <% } %>
                    <% } %>
    </div>
    <div class="background-darkener" id="background-darkener" style="display: none;">
        <div class="class-create-section">
            <div class="class-create-top">
                <h1>Create a new class</h1>
                <img src="/images/close.svg" alt="close"
                    onclick="document.getElementById('background-darkener').style.display='none'">
            </div>
            <form action="/classes/new" method="POST">
                <label for="class-name">Class name:</label>
                <input name="name" autocomplete="off" type="text" id="class-name">
                <div class="class-language-container">
                    <label for="class-language">Language:</label>
                    <select name="language" id="class-language">
                        <option value="0">French</option>
                        <option value="1">German</option>
                        <option value="2">English</option>
                        <option value="3">Spanish</option>
                        <option value="4">Chinese</option>
                        <option value="5">Other</option>
                        <option value="6">Non specific</option>
                    </select>
                </div>
                <button class="" type="submit">Create</button>
            </form>
        </div>
    </div>
    <div class="background-darkener" id="new-update" style="display: none;">
        <div class="class-create-section">
            <div class="class-create-top">
                <h1>Create a new update</h1>
                <img src="/images/close.svg" alt="close"
                    onclick="document.getElementById('new-update').style.display='none'">
            </div>
            <form action="/classes/updates/new" method="POST">
                <div class="new-update-title">
                    <label>
                        Name:
                        <input name="name" required autocomplete="off" type="text" class="new-update-input"
                            style="height: 30px;">
                    </label>
                    <div include="form-input-select()" onchange="createUpdateTypeChange(this.firstElementChild)">
                        <select name="type" required>
                            <option value="" hidden>Type:</option>

                            <option value="homework">Homework</option>
                            <option value="material">Material</option>
                            <option value="message">Message</option>
                        </select>
                    </div>
                </div>
                <label>
                    Description:
                    <textarea name="description" autocomplete="off" type="text" class="new-update-input"
                        style="height: 120px;"></textarea>
                </label>
                <div id="updateDateContainer">
                    <input type="date" name="date" id="updateDate">
                    <input type="time" name="time">
                </div>
                <div class="solid-line" id="updateLine"></div>
                <div class="upload-icons">
                    <img src="/images/upload-icons/upload.svg" onclick="changeSelectedSet(true)" alt="upload"
                        title="Upload personal set.">
                    <img src="/images/upload-icons/cloud-upload.svg" alt="upload" title="Upload cloud set.">
                    <img src="/images/upload-icons/link.svg" alt="upload" onclick="openInputLink()"
                        title="Enter link of set.">
                    <img src="/images/upload-icons/add-box.svg" alt="upload" title="Create new set.">
                    <div class="post-selected-set" id="postSelectedSet">
                        <h3 id="postSelectedSetName">H3 paragraaf B</h3>
                        <img src="/images/close.svg" alt="remove" onclick="changeSelectedSet(false)">
                    </div>
                    <input type="text" name="classId" style="display: none;" value="<%= classInfo.id %>">
                    <button class="update-post-btn" type="submit">Post</button>
                </div>
            </form>
        </div>
        <div class="background-darkener" id="inputLink" style="display: none;">
            <div class="input-link-container">
                <h2 style="margin:0;">Add link</h2>
                <input type="text" placeholder="Link" id="inputLinkInp">
                <div class="button-holder">
                    <button onclick="closeInputLink()">Cancel</button>
                    <button onclick="addLink(this)">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="succesCallbackMsg" class="alert" style="display: none;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Succes!</strong> Indicates a dangerous or potentially negative action.
    </div>
</body>

</html>